body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    background: linear-gradient(135deg, #ffffff 0%, #f8d07f 100%);
    color: #1a1a1a;
}

/* Header formatting*/
header {
    padding: 2rem 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #ffffff;
    box-shadow: 0 3px 5px rgba(0,0,0,0.05);
    position: sticky;
    top: 0;
    z-index: 100;
}
/* Formating for the navagation part links*/
header a{
    margin-left: 2rem;
    text-decoration: none;
    color: #333;
}

section {
    padding: 0 2rem;
    margin: 3rem 0;
}

h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.card {
    background: #fff;
    padding: 2rem;
    border-radius: 16px;
    box-shadow: 7px 7px 8px rgba(0,0,0,0.06);
}

footer {
    padding: 2rem;
    text-align: center;
    background: #ffffff;
    margin-top: 4rem;
    color: #666;
}
